B1/aula1/backend/node_modules/get-proto/.eslintrc
*.json
B1/aula1/backend/node_modules/accepts/HISTORY.md
B1/aula1/backend/node_modules/accepts/index.js
B1/aula1/backend/node_modules/accepts/LICENSE
B1/aula1/backend/node_modules/accepts/README.md
B1/aula1/backend/node_modules/body-parser/index.js
B1/aula1/backend/node_modules/body-parser/lib/read.js
B1/aula1/backend/node_modules/body-parser/lib/types/json.js
B1/aula1/backend/node_modules/body-parser/lib/types/raw.js
B1/aula1/backend/node_modules/body-parser/lib/types/text.js
B1/aula1/backend/node_modules/body-parser/lib/types/urlencoded.js
B1/aula1/backend/node_modules/body-parser/lib/utils.js
B1/aula1/backend/node_modules/body-parser/LICENSE
B1/aula1/backend/node_modules/body-parser/node_modules/content-type/dist/index.d.ts
B1/aula1/backend/node_modules/body-parser/node_modules/content-type/dist/index.js
B1/aula1/backend/node_modules/body-parser/node_modules/content-type/dist/index.js.map
B1/aula1/backend/node_modules/body-parser/node_modules/content-type/LICENSE
B1/aula1/backend/node_modules/body-parser/node_modules/content-type/README.md
B1/aula1/backend/node_modules/body-parser/README.md
B1/aula1/backend/node_modules/bytes/History.md
B1/aula1/backend/node_modules/bytes/index.js
B1/aula1/backend/node_modules/bytes/LICENSE
B1/aula1/backend/node_modules/bytes/Readme.md
B1/aula1/backend/node_modules/call-bind-apply-helpers/.eslintrc
B1/aula1/backend/node_modules/call-bind-apply-helpers/.github/FUNDING.yml
B1/aula1/backend/node_modules/call-bind-apply-helpers/.nycrc
B1/aula1/backend/node_modules/call-bind-apply-helpers/actualApply.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/actualApply.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/applyBind.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/applyBind.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/CHANGELOG.md
B1/aula1/backend/node_modules/call-bind-apply-helpers/functionApply.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/functionApply.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/functionCall.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/functionCall.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/index.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/index.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/LICENSE
B1/aula1/backend/node_modules/call-bind-apply-helpers/README.md
B1/aula1/backend/node_modules/call-bind-apply-helpers/reflectApply.d.ts
B1/aula1/backend/node_modules/call-bind-apply-helpers/reflectApply.js
B1/aula1/backend/node_modules/call-bind-apply-helpers/test/index.js
B1/aula1/backend/node_modules/call-bound/.eslintrc
B1/aula1/backend/node_modules/call-bound/.github/FUNDING.yml
B1/aula1/backend/node_modules/call-bound/.nycrc
B1/aula1/backend/node_modules/call-bound/CHANGELOG.md
B1/aula1/backend/node_modules/call-bound/index.d.ts
B1/aula1/backend/node_modules/call-bound/index.js
B1/aula1/backend/node_modules/call-bound/LICENSE
B1/aula1/backend/node_modules/call-bound/README.md
B1/aula1/backend/node_modules/call-bound/test/index.js
B1/aula1/backend/node_modules/content-disposition/index.js
B1/aula1/backend/node_modules/content-disposition/LICENSE
B1/aula1/backend/node_modules/content-disposition/README.md
B1/aula1/backend/node_modules/content-type/HISTORY.md
B1/aula1/backend/node_modules/content-type/index.js
B1/aula1/backend/node_modules/content-type/LICENSE
B1/aula1/backend/node_modules/content-type/README.md
B1/aula1/backend/node_modules/cookie-signature/History.md
B1/aula1/backend/node_modules/cookie-signature/index.js
B1/aula1/backend/node_modules/cookie-signature/LICENSE
B1/aula1/backend/node_modules/cookie-signature/Readme.md
B1/aula1/backend/node_modules/cookie/index.js
B1/aula1/backend/node_modules/cookie/LICENSE
B1/aula1/backend/node_modules/cookie/README.md
B1/aula1/backend/node_modules/cookie/SECURITY.md
B1/aula1/backend/node_modules/debug/LICENSE
B1/aula1/backend/node_modules/debug/README.md
B1/aula1/backend/node_modules/debug/src/browser.js
B1/aula1/backend/node_modules/debug/src/common.js
B1/aula1/backend/node_modules/debug/src/index.js
B1/aula1/backend/node_modules/debug/src/node.js
B1/aula1/backend/node_modules/depd/History.md
B1/aula1/backend/node_modules/depd/index.js
B1/aula1/backend/node_modules/depd/lib/browser/index.js
B1/aula1/backend/node_modules/depd/LICENSE
B1/aula1/backend/node_modules/depd/Readme.md
B1/aula1/backend/node_modules/dunder-proto/.eslintrc
B1/aula1/backend/node_modules/dunder-proto/.github/FUNDING.yml
B1/aula1/backend/node_modules/dunder-proto/.nycrc
B1/aula1/backend/node_modules/dunder-proto/CHANGELOG.md
B1/aula1/backend/node_modules/dunder-proto/get.d.ts
B1/aula1/backend/node_modules/dunder-proto/get.js
B1/aula1/backend/node_modules/dunder-proto/LICENSE
B1/aula1/backend/node_modules/dunder-proto/README.md
B1/aula1/backend/node_modules/dunder-proto/set.d.ts
B1/aula1/backend/node_modules/dunder-proto/set.js
B1/aula1/backend/node_modules/dunder-proto/test/get.js
B1/aula1/backend/node_modules/dunder-proto/test/index.js
B1/aula1/backend/node_modules/dunder-proto/test/set.js
B1/aula1/backend/node_modules/ee-first/index.js
B1/aula1/backend/node_modules/ee-first/LICENSE
B1/aula1/backend/node_modules/ee-first/README.md
B1/aula1/backend/node_modules/encodeurl/index.js
B1/aula1/backend/node_modules/encodeurl/LICENSE
B1/aula1/backend/node_modules/encodeurl/README.md
B1/aula1/backend/node_modules/es-define-property/.eslintrc
B1/aula1/backend/node_modules/es-define-property/.github/FUNDING.yml
B1/aula1/backend/node_modules/es-define-property/.nycrc
B1/aula1/backend/node_modules/es-define-property/CHANGELOG.md
B1/aula1/backend/node_modules/es-define-property/index.d.ts
B1/aula1/backend/node_modules/es-define-property/index.js
B1/aula1/backend/node_modules/es-define-property/LICENSE
B1/aula1/backend/node_modules/es-define-property/README.md
B1/aula1/backend/node_modules/es-define-property/test/index.js
B1/aula1/backend/node_modules/es-errors/.eslintrc
B1/aula1/backend/node_modules/es-errors/.github/FUNDING.yml
B1/aula1/backend/node_modules/es-errors/CHANGELOG.md
B1/aula1/backend/node_modules/es-errors/eval.d.ts
B1/aula1/backend/node_modules/es-errors/eval.js
B1/aula1/backend/node_modules/es-errors/index.d.ts
B1/aula1/backend/node_modules/es-errors/index.js
B1/aula1/backend/node_modules/es-errors/LICENSE
B1/aula1/backend/node_modules/es-errors/range.d.ts
B1/aula1/backend/node_modules/es-errors/range.js
B1/aula1/backend/node_modules/es-errors/README.md
B1/aula1/backend/node_modules/es-errors/ref.d.ts
B1/aula1/backend/node_modules/es-errors/ref.js
B1/aula1/backend/node_modules/es-errors/syntax.d.ts
B1/aula1/backend/node_modules/es-errors/syntax.js
B1/aula1/backend/node_modules/es-errors/test/index.js
B1/aula1/backend/node_modules/es-errors/type.d.ts
B1/aula1/backend/node_modules/es-errors/type.js
B1/aula1/backend/node_modules/es-errors/uri.d.ts
B1/aula1/backend/node_modules/es-errors/uri.js
B1/aula1/backend/node_modules/es-object-atoms/.eslintrc
B1/aula1/backend/node_modules/es-object-atoms/.github/FUNDING.yml
B1/aula1/backend/node_modules/es-object-atoms/CHANGELOG.md
B1/aula1/backend/node_modules/es-object-atoms/index.d.ts
B1/aula1/backend/node_modules/es-object-atoms/index.js
B1/aula1/backend/node_modules/es-object-atoms/isObject.d.ts
B1/aula1/backend/node_modules/es-object-atoms/isObject.js
B1/aula1/backend/node_modules/es-object-atoms/LICENSE
B1/aula1/backend/node_modules/es-object-atoms/README.md
B1/aula1/backend/node_modules/es-object-atoms/RequireObjectCoercible.d.ts
B1/aula1/backend/node_modules/es-object-atoms/RequireObjectCoercible.js
B1/aula1/backend/node_modules/es-object-atoms/test/index.js
B1/aula1/backend/node_modules/es-object-atoms/ToObject.d.ts
B1/aula1/backend/node_modules/es-object-atoms/ToObject.js
B1/aula1/backend/node_modules/escape-html/index.js
B1/aula1/backend/node_modules/escape-html/LICENSE
B1/aula1/backend/node_modules/escape-html/Readme.md
B1/aula1/backend/node_modules/etag/HISTORY.md
B1/aula1/backend/node_modules/etag/index.js
B1/aula1/backend/node_modules/etag/LICENSE
B1/aula1/backend/node_modules/etag/README.md
B1/aula1/backend/node_modules/express/index.js
B1/aula1/backend/node_modules/express/lib/application.js
B1/aula1/backend/node_modules/express/lib/express.js
B1/aula1/backend/node_modules/express/lib/request.js
B1/aula1/backend/node_modules/express/lib/response.js
B1/aula1/backend/node_modules/express/lib/utils.js
B1/aula1/backend/node_modules/express/lib/view.js
B1/aula1/backend/node_modules/express/LICENSE
B1/aula1/backend/node_modules/express/Readme.md
B1/aula1/backend/node_modules/finalhandler/HISTORY.md
B1/aula1/backend/node_modules/finalhandler/index.js
B1/aula1/backend/node_modules/finalhandler/LICENSE
B1/aula1/backend/node_modules/finalhandler/README.md
B1/aula1/backend/node_modules/forwarded/HISTORY.md
B1/aula1/backend/node_modules/forwarded/index.js
B1/aula1/backend/node_modules/forwarded/LICENSE
B1/aula1/backend/node_modules/forwarded/README.md
B1/aula1/backend/node_modules/fresh/HISTORY.md
B1/aula1/backend/node_modules/fresh/index.js
B1/aula1/backend/node_modules/fresh/LICENSE
B1/aula1/backend/node_modules/fresh/README.md
B1/aula1/backend/node_modules/function-bind/.eslintrc
B1/aula1/backend/node_modules/function-bind/.github/FUNDING.yml
B1/aula1/backend/node_modules/function-bind/.github/SECURITY.md
B1/aula1/backend/node_modules/function-bind/.nycrc
B1/aula1/backend/node_modules/function-bind/CHANGELOG.md
B1/aula1/backend/node_modules/function-bind/implementation.js
B1/aula1/backend/node_modules/function-bind/index.js
B1/aula1/backend/node_modules/function-bind/LICENSE
B1/aula1/backend/node_modules/function-bind/README.md
B1/aula1/backend/node_modules/function-bind/test/.eslintrc
B1/aula1/backend/node_modules/function-bind/test/index.js
B1/aula1/backend/node_modules/get-intrinsic/.eslintrc
B1/aula1/backend/node_modules/get-intrinsic/.github/FUNDING.yml
B1/aula1/backend/node_modules/get-intrinsic/.nycrc
B1/aula1/backend/node_modules/get-intrinsic/CHANGELOG.md
B1/aula1/backend/node_modules/get-intrinsic/index.js
B1/aula1/backend/node_modules/get-intrinsic/LICENSE
B1/aula1/backend/node_modules/get-intrinsic/README.md
B1/aula1/backend/node_modules/get-intrinsic/test/GetIntrinsic.js
B1/aula1/backend/node_modules/get-proto/.github/FUNDING.yml
B1/aula1/backend/node_modules/get-proto/.nycrc
B1/aula1/backend/node_modules/get-proto/CHANGELOG.md
B1/aula1/backend/node_modules/get-proto/index.d.ts
B1/aula1/backend/node_modules/get-proto/index.js
B1/aula1/backend/node_modules/get-proto/LICENSE
B1/aula1/backend/node_modules/get-proto/Object.getPrototypeOf.d.ts
B1/aula1/backend/node_modules/get-proto/Object.getPrototypeOf.js
B1/aula1/backend/node_modules/get-proto/README.md
B1/aula1/backend/node_modules/get-proto/Reflect.getPrototypeOf.d.ts
B1/aula1/backend/node_modules/get-proto/Reflect.getPrototypeOf.js
B1/aula1/backend/node_modules/get-proto/test/index.js
B1/aula1/backend/node_modules/gopd/.eslintrc
B1/aula1/backend/node_modules/gopd/.github/FUNDING.yml
B1/aula1/backend/node_modules/gopd/CHANGELOG.md
B1/aula1/backend/node_modules/gopd/gOPD.d.ts
B1/aula1/backend/node_modules/gopd/gOPD.js
B1/aula1/backend/node_modules/gopd/index.d.ts
B1/aula1/backend/node_modules/gopd/index.js
B1/aula1/backend/node_modules/gopd/LICENSE
B1/aula1/backend/node_modules/gopd/README.md
B1/aula1/backend/node_modules/gopd/test/index.js
B1/aula1/backend/node_modules/has-symbols/.eslintrc
B1/aula1/backend/node_modules/has-symbols/.github/FUNDING.yml
B1/aula1/backend/node_modules/has-symbols/.nycrc
B1/aula1/backend/node_modules/has-symbols/CHANGELOG.md
B1/aula1/backend/node_modules/has-symbols/index.d.ts
B1/aula1/backend/node_modules/has-symbols/index.js
B1/aula1/backend/node_modules/has-symbols/LICENSE
B1/aula1/backend/node_modules/has-symbols/README.md
B1/aula1/backend/node_modules/has-symbols/shams.d.ts
B1/aula1/backend/node_modules/has-symbols/shams.js
B1/aula1/backend/node_modules/has-symbols/test/index.js
B1/aula1/backend/node_modules/has-symbols/test/shams/core-js.js
B1/aula1/backend/node_modules/has-symbols/test/shams/get-own-property-symbols.js
B1/aula1/backend/node_modules/has-symbols/test/tests.js
B1/aula1/backend/node_modules/hasown/.github/FUNDING.yml
B1/aula1/backend/node_modules/hasown/.nycrc
B1/aula1/backend/node_modules/hasown/CHANGELOG.md
B1/aula1/backend/node_modules/hasown/eslint.config.mjs
B1/aula1/backend/node_modules/hasown/index.d.ts
B1/aula1/backend/node_modules/hasown/index.js
B1/aula1/backend/node_modules/hasown/LICENSE
B1/aula1/backend/node_modules/hasown/README.md
B1/aula1/backend/node_modules/http-errors/HISTORY.md
B1/aula1/backend/node_modules/http-errors/index.js
B1/aula1/backend/node_modules/http-errors/LICENSE
B1/aula1/backend/node_modules/http-errors/README.md
B1/aula1/backend/node_modules/iconv-lite/encodings/dbcs-codec.js
B1/aula1/backend/node_modules/iconv-lite/encodings/dbcs-data.js
B1/aula1/backend/node_modules/iconv-lite/encodings/index.js
B1/aula1/backend/node_modules/iconv-lite/encodings/internal.js
B1/aula1/backend/node_modules/iconv-lite/encodings/sbcs-codec.js
B1/aula1/backend/node_modules/iconv-lite/encodings/sbcs-data-generated.js
B1/aula1/backend/node_modules/iconv-lite/encodings/sbcs-data.js
B1/aula1/backend/node_modules/iconv-lite/encodings/utf16.js
B1/aula1/backend/node_modules/iconv-lite/encodings/utf32.js
B1/aula1/backend/node_modules/iconv-lite/encodings/utf7.js
B1/aula1/backend/node_modules/iconv-lite/lib/bom-handling.js
B1/aula1/backend/node_modules/iconv-lite/lib/helpers/merge-exports.js
B1/aula1/backend/node_modules/iconv-lite/lib/index.d.ts
B1/aula1/backend/node_modules/iconv-lite/lib/index.js
B1/aula1/backend/node_modules/iconv-lite/lib/streams.js
B1/aula1/backend/node_modules/iconv-lite/LICENSE
B1/aula1/backend/node_modules/iconv-lite/README.md
B1/aula1/backend/node_modules/iconv-lite/types/encodings.d.ts
B1/aula1/backend/node_modules/inherits/inherits.js
B1/aula1/backend/node_modules/inherits/inherits_browser.js
B1/aula1/backend/node_modules/inherits/LICENSE
B1/aula1/backend/node_modules/inherits/README.md
B1/aula1/backend/node_modules/ipaddr.js/ipaddr.min.js
B1/aula1/backend/node_modules/ipaddr.js/lib/ipaddr.js
B1/aula1/backend/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
B1/aula1/backend/node_modules/ipaddr.js/LICENSE
B1/aula1/backend/node_modules/ipaddr.js/README.md
B1/aula1/backend/node_modules/is-promise/index.d.ts
B1/aula1/backend/node_modules/is-promise/index.js
B1/aula1/backend/node_modules/is-promise/index.mjs
B1/aula1/backend/node_modules/is-promise/LICENSE
B1/aula1/backend/node_modules/is-promise/readme.md
B1/aula1/backend/node_modules/math-intrinsics/.eslintrc
B1/aula1/backend/node_modules/math-intrinsics/.github/FUNDING.yml
B1/aula1/backend/node_modules/math-intrinsics/abs.d.ts
B1/aula1/backend/node_modules/math-intrinsics/abs.js
B1/aula1/backend/node_modules/math-intrinsics/CHANGELOG.md
B1/aula1/backend/node_modules/math-intrinsics/constants/maxArrayLength.d.ts
B1/aula1/backend/node_modules/math-intrinsics/constants/maxArrayLength.js
B1/aula1/backend/node_modules/math-intrinsics/constants/maxSafeInteger.d.ts
B1/aula1/backend/node_modules/math-intrinsics/constants/maxSafeInteger.js
B1/aula1/backend/node_modules/math-intrinsics/constants/maxValue.d.ts
B1/aula1/backend/node_modules/math-intrinsics/constants/maxValue.js
B1/aula1/backend/node_modules/math-intrinsics/floor.d.ts
B1/aula1/backend/node_modules/math-intrinsics/floor.js
B1/aula1/backend/node_modules/math-intrinsics/isFinite.d.ts
B1/aula1/backend/node_modules/math-intrinsics/isFinite.js
B1/aula1/backend/node_modules/math-intrinsics/isInteger.d.ts
B1/aula1/backend/node_modules/math-intrinsics/isInteger.js
B1/aula1/backend/node_modules/math-intrinsics/isNaN.d.ts
B1/aula1/backend/node_modules/math-intrinsics/isNaN.js
B1/aula1/backend/node_modules/math-intrinsics/isNegativeZero.d.ts
B1/aula1/backend/node_modules/math-intrinsics/isNegativeZero.js
B1/aula1/backend/node_modules/math-intrinsics/LICENSE
B1/aula1/backend/node_modules/math-intrinsics/max.d.ts
B1/aula1/backend/node_modules/math-intrinsics/max.js
B1/aula1/backend/node_modules/math-intrinsics/min.d.ts
B1/aula1/backend/node_modules/math-intrinsics/min.js
B1/aula1/backend/node_modules/math-intrinsics/mod.d.ts
B1/aula1/backend/node_modules/math-intrinsics/mod.js
B1/aula1/backend/node_modules/math-intrinsics/pow.d.ts
B1/aula1/backend/node_modules/math-intrinsics/pow.js
B1/aula1/backend/node_modules/math-intrinsics/README.md
B1/aula1/backend/node_modules/math-intrinsics/round.d.ts
B1/aula1/backend/node_modules/math-intrinsics/round.js
B1/aula1/backend/node_modules/math-intrinsics/sign.d.ts
B1/aula1/backend/node_modules/math-intrinsics/sign.js
B1/aula1/backend/node_modules/math-intrinsics/test/index.js
B1/aula1/backend/node_modules/media-typer/HISTORY.md
B1/aula1/backend/node_modules/media-typer/index.js
B1/aula1/backend/node_modules/media-typer/LICENSE
B1/aula1/backend/node_modules/media-typer/README.md
B1/aula1/backend/node_modules/merge-descriptors/index.d.ts
B1/aula1/backend/node_modules/merge-descriptors/index.js
B1/aula1/backend/node_modules/merge-descriptors/license
B1/aula1/backend/node_modules/merge-descriptors/readme.md
B1/aula1/backend/node_modules/mime-db/HISTORY.md
B1/aula1/backend/node_modules/mime-db/index.js
B1/aula1/backend/node_modules/mime-db/LICENSE
B1/aula1/backend/node_modules/mime-db/README.md
B1/aula1/backend/node_modules/mime-types/HISTORY.md
B1/aula1/backend/node_modules/mime-types/index.js
B1/aula1/backend/node_modules/mime-types/LICENSE
B1/aula1/backend/node_modules/mime-types/mimeScore.js
B1/aula1/backend/node_modules/mime-types/README.md
B1/aula1/backend/node_modules/ms/index.js
B1/aula1/backend/node_modules/ms/license.md
B1/aula1/backend/node_modules/ms/readme.md
B1/aula1/backend/node_modules/negotiator/HISTORY.md
B1/aula1/backend/node_modules/negotiator/index.js
B1/aula1/backend/node_modules/negotiator/lib/charset.js
B1/aula1/backend/node_modules/negotiator/lib/encoding.js
B1/aula1/backend/node_modules/negotiator/lib/language.js
B1/aula1/backend/node_modules/negotiator/lib/mediaType.js
B1/aula1/backend/node_modules/negotiator/LICENSE
B1/aula1/backend/node_modules/negotiator/README.md
B1/aula1/backend/node_modules/object-inspect/.eslintrc
B1/aula1/backend/node_modules/object-inspect/.github/FUNDING.yml
B1/aula1/backend/node_modules/object-inspect/.nycrc
B1/aula1/backend/node_modules/object-inspect/CHANGELOG.md
B1/aula1/backend/node_modules/object-inspect/example/all.js
B1/aula1/backend/node_modules/object-inspect/example/circular.js
B1/aula1/backend/node_modules/object-inspect/example/fn.js
B1/aula1/backend/node_modules/object-inspect/example/inspect.js
B1/aula1/backend/node_modules/object-inspect/index.js
B1/aula1/backend/node_modules/object-inspect/LICENSE
B1/aula1/backend/node_modules/object-inspect/readme.markdown
B1/aula1/backend/node_modules/object-inspect/test-core-js.js
B1/aula1/backend/node_modules/object-inspect/test/bigint.js
B1/aula1/backend/node_modules/object-inspect/test/browser/dom.js
B1/aula1/backend/node_modules/object-inspect/test/circular.js
B1/aula1/backend/node_modules/object-inspect/test/deep.js
B1/aula1/backend/node_modules/object-inspect/test/element.js
B1/aula1/backend/node_modules/object-inspect/test/err.js
B1/aula1/backend/node_modules/object-inspect/test/fakes.js
B1/aula1/backend/node_modules/object-inspect/test/fn.js
B1/aula1/backend/node_modules/object-inspect/test/global.js
B1/aula1/backend/node_modules/object-inspect/test/has.js
B1/aula1/backend/node_modules/object-inspect/test/holes.js
B1/aula1/backend/node_modules/object-inspect/test/indent-option.js
B1/aula1/backend/node_modules/object-inspect/test/inspect.js
B1/aula1/backend/node_modules/object-inspect/test/lowbyte.js
B1/aula1/backend/node_modules/object-inspect/test/number.js
B1/aula1/backend/node_modules/object-inspect/test/quoteStyle.js
B1/aula1/backend/node_modules/object-inspect/test/toStringTag.js
B1/aula1/backend/node_modules/object-inspect/test/undef.js
B1/aula1/backend/node_modules/object-inspect/test/values.js
B1/aula1/backend/node_modules/object-inspect/util.inspect.js
B1/aula1/backend/node_modules/on-finished/HISTORY.md
B1/aula1/backend/node_modules/on-finished/index.js
B1/aula1/backend/node_modules/on-finished/LICENSE
B1/aula1/backend/node_modules/on-finished/README.md
B1/aula1/backend/node_modules/once/LICENSE
B1/aula1/backend/node_modules/once/once.js
B1/aula1/backend/node_modules/once/README.md
B1/aula1/backend/node_modules/parseurl/HISTORY.md
B1/aula1/backend/node_modules/parseurl/index.js
B1/aula1/backend/node_modules/parseurl/LICENSE
B1/aula1/backend/node_modules/parseurl/README.md
B1/aula1/backend/node_modules/path-to-regexp/dist/index.d.ts
B1/aula1/backend/node_modules/path-to-regexp/dist/index.js
B1/aula1/backend/node_modules/path-to-regexp/dist/index.js.map
B1/aula1/backend/node_modules/path-to-regexp/LICENSE
B1/aula1/backend/node_modules/path-to-regexp/Readme.md
B1/aula1/backend/node_modules/proxy-addr/HISTORY.md
B1/aula1/backend/node_modules/proxy-addr/index.js
B1/aula1/backend/node_modules/proxy-addr/LICENSE
B1/aula1/backend/node_modules/proxy-addr/README.md
B1/aula1/backend/node_modules/qs/.editorconfig
B1/aula1/backend/node_modules/qs/.github/FUNDING.yml
B1/aula1/backend/node_modules/qs/.github/SECURITY.md
B1/aula1/backend/node_modules/qs/.github/THREAT_MODEL.md
B1/aula1/backend/node_modules/qs/.nycrc
B1/aula1/backend/node_modules/qs/CHANGELOG.md
B1/aula1/backend/node_modules/qs/dist/qs.js
B1/aula1/backend/node_modules/qs/eslint.config.mjs
B1/aula1/backend/node_modules/qs/lib/formats.js
B1/aula1/backend/node_modules/qs/lib/index.js
B1/aula1/backend/node_modules/qs/lib/parse.js
B1/aula1/backend/node_modules/qs/lib/stringify.js
B1/aula1/backend/node_modules/qs/lib/utils.js
B1/aula1/backend/node_modules/qs/LICENSE.md
B1/aula1/backend/node_modules/qs/README.md
B1/aula1/backend/node_modules/qs/test/empty-keys-cases.js
B1/aula1/backend/node_modules/qs/test/parse.js
B1/aula1/backend/node_modules/qs/test/stringify.js
B1/aula1/backend/node_modules/qs/test/utils.js
B1/aula1/backend/node_modules/range-parser/HISTORY.md
B1/aula1/backend/node_modules/range-parser/index.js
B1/aula1/backend/node_modules/range-parser/LICENSE
B1/aula1/backend/node_modules/range-parser/README.md
B1/aula1/backend/node_modules/raw-body/index.d.ts
B1/aula1/backend/node_modules/raw-body/index.js
B1/aula1/backend/node_modules/raw-body/LICENSE
B1/aula1/backend/node_modules/raw-body/README.md
B1/aula1/backend/node_modules/router/HISTORY.md
B1/aula1/backend/node_modules/router/index.js
B1/aula1/backend/node_modules/router/lib/layer.js
B1/aula1/backend/node_modules/router/lib/route.js
B1/aula1/backend/node_modules/router/LICENSE
B1/aula1/backend/node_modules/router/README.md
B1/aula1/backend/node_modules/safer-buffer/dangerous.js
B1/aula1/backend/node_modules/safer-buffer/LICENSE
B1/aula1/backend/node_modules/safer-buffer/Porting-Buffer.md
B1/aula1/backend/node_modules/safer-buffer/Readme.md
B1/aula1/backend/node_modules/safer-buffer/safer.js
B1/aula1/backend/node_modules/safer-buffer/tests.js
B1/aula1/backend/node_modules/send/index.js
B1/aula1/backend/node_modules/send/LICENSE
B1/aula1/backend/node_modules/send/README.md
B1/aula1/backend/node_modules/serve-static/index.js
B1/aula1/backend/node_modules/serve-static/LICENSE
B1/aula1/backend/node_modules/serve-static/README.md
B1/aula1/backend/node_modules/setprototypeof/index.d.ts
B1/aula1/backend/node_modules/setprototypeof/index.js
B1/aula1/backend/node_modules/setprototypeof/LICENSE
B1/aula1/backend/node_modules/setprototypeof/README.md
B1/aula1/backend/node_modules/setprototypeof/test/index.js
B1/aula1/backend/node_modules/side-channel-list/.editorconfig
B1/aula1/backend/node_modules/side-channel-list/.eslintrc
B1/aula1/backend/node_modules/side-channel-list/.github/FUNDING.yml
B1/aula1/backend/node_modules/side-channel-list/.nycrc
B1/aula1/backend/node_modules/side-channel-list/CHANGELOG.md
B1/aula1/backend/node_modules/side-channel-list/index.d.ts
B1/aula1/backend/node_modules/side-channel-list/index.js
B1/aula1/backend/node_modules/side-channel-list/LICENSE
B1/aula1/backend/node_modules/side-channel-list/list.d.ts
B1/aula1/backend/node_modules/side-channel-list/README.md
B1/aula1/backend/node_modules/side-channel-list/test/index.js
B1/aula1/backend/node_modules/side-channel-map/.editorconfig
B1/aula1/backend/node_modules/side-channel-map/.eslintrc
B1/aula1/backend/node_modules/side-channel-map/.github/FUNDING.yml
B1/aula1/backend/node_modules/side-channel-map/.nycrc
B1/aula1/backend/node_modules/side-channel-map/CHANGELOG.md
B1/aula1/backend/node_modules/side-channel-map/index.d.ts
B1/aula1/backend/node_modules/side-channel-map/index.js
B1/aula1/backend/node_modules/side-channel-map/LICENSE
B1/aula1/backend/node_modules/side-channel-map/README.md
B1/aula1/backend/node_modules/side-channel-map/test/index.js
B1/aula1/backend/node_modules/side-channel-weakmap/.editorconfig
B1/aula1/backend/node_modules/side-channel-weakmap/.eslintrc
B1/aula1/backend/node_modules/side-channel-weakmap/.github/FUNDING.yml
B1/aula1/backend/node_modules/side-channel-weakmap/.nycrc
B1/aula1/backend/node_modules/side-channel-weakmap/CHANGELOG.md
B1/aula1/backend/node_modules/side-channel-weakmap/index.d.ts
B1/aula1/backend/node_modules/side-channel-weakmap/index.js
B1/aula1/backend/node_modules/side-channel-weakmap/LICENSE
B1/aula1/backend/node_modules/side-channel-weakmap/README.md
B1/aula1/backend/node_modules/side-channel-weakmap/test/index.js
B1/aula1/backend/node_modules/side-channel/.editorconfig
B1/aula1/backend/node_modules/side-channel/.eslintrc
B1/aula1/backend/node_modules/side-channel/.github/FUNDING.yml
B1/aula1/backend/node_modules/side-channel/.nycrc
B1/aula1/backend/node_modules/side-channel/CHANGELOG.md
B1/aula1/backend/node_modules/side-channel/index.d.ts
B1/aula1/backend/node_modules/side-channel/index.js
B1/aula1/backend/node_modules/side-channel/LICENSE
B1/aula1/backend/node_modules/side-channel/README.md
B1/aula1/backend/node_modules/side-channel/test/index.js
B1/aula1/backend/node_modules/statuses/HISTORY.md
B1/aula1/backend/node_modules/statuses/index.js
B1/aula1/backend/node_modules/statuses/LICENSE
B1/aula1/backend/node_modules/statuses/README.md
B1/aula1/backend/node_modules/toidentifier/HISTORY.md
B1/aula1/backend/node_modules/toidentifier/index.js
B1/aula1/backend/node_modules/toidentifier/LICENSE
B1/aula1/backend/node_modules/toidentifier/README.md
B1/aula1/backend/node_modules/type-is/HISTORY.md
B1/aula1/backend/node_modules/type-is/index.js
B1/aula1/backend/node_modules/type-is/LICENSE
B1/aula1/backend/node_modules/type-is/node_modules/content-type/dist/index.d.ts
B1/aula1/backend/node_modules/type-is/node_modules/content-type/dist/index.js
B1/aula1/backend/node_modules/type-is/node_modules/content-type/dist/index.js.map
B1/aula1/backend/node_modules/type-is/node_modules/content-type/LICENSE
B1/aula1/backend/node_modules/type-is/node_modules/content-type/README.md
B1/aula1/backend/node_modules/type-is/README.md
B1/aula1/backend/node_modules/unpipe/HISTORY.md
B1/aula1/backend/node_modules/unpipe/index.js
B1/aula1/backend/node_modules/unpipe/LICENSE
B1/aula1/backend/node_modules/unpipe/README.md
B1/aula1/backend/node_modules/vary/HISTORY.md
B1/aula1/backend/node_modules/vary/index.js
B1/aula1/backend/node_modules/vary/LICENSE
B1/aula1/backend/node_modules/vary/README.md
B1/aula1/backend/node_modules/wrappy/LICENSE
B1/aula1/backend/node_modules/wrappy/README.md
B1/aula1/backend/node_modules/wrappy/wrappy.js
B1/aula4/ats/back/node_modules/vary/LICENSE
/B1/aula4/ats/back/node_modules
